#about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
}

.about-wrapper {
    max-width: 80vw;
}

.about-wrapper h1 {
    font-size: clamp(1.5rem, 2vw, 3.5rem);
    margin-top: 0;
    margin-bottom: 16px;
}

.about-content-wrapper {
    padding-block: 16px;
    padding-inline: 32px;
    border-radius: 16px;
}

.about-content-wrapper p {
    font-size: clamp(1rem, 1.2vw, 10rem);
}

@media (max-width: 450px) {
    .about-content-wrapper {
        border: none;
        box-shadow: none;
        padding-block: 0px;
        padding-inline: 0px;
        background: none;
    }
}