.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
}

.hero img {
    border: 4px solid rgba(255, 255, 0);
    box-shadow: 0px 0px 24px rgba(255, 255, 0);
    border-radius: 10px;
}

/*Content*/
.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hero-content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero-content-box h1 {
    font-size: clamp(2rem, 3vw, 3.5rem);
    margin-bottom: 0;
}

.hero-content-box h2 {
    font-size: clamp(1.2rem, 1.5vw, 2rem);
    margin: 0;
}

.hero-content-box h3 {
    font-size: clamp(1rem, 1vw, 1.3rem);
    margin-top: 40px;
}

.hero-content-box a {
    color: white;
}

.hero-content-box a:hover {
    color: rgba(255, 255, 255, 0.7);
}
/*Content*/

/*Nav*/
.hero-nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hero-nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-nav-buttons button {
    color: white;
    font-size: clamp(1.3rem, 1.2vw, 2.5rem);
    background: linear-gradient(180deg, rgb(29, 29, 29), rgba(0,0,0,1));
    padding-block: 16px;
    padding-inline: 32px;
    cursor: pointer;
    border: 4px solid rgba(255, 255, 0);
    box-shadow: 0px 0px 16px rgba(255, 255, 0);
    font-weight: 900;
    transition: box-shadow 0.2s;
    margin-top: 16px;
}

.hero-nav-buttons a:first-child button {
    border-radius: 16px 0 0 16px;
}

.hero-nav-buttons a:last-child button {
    border-radius: 0 16px 16px 0;
}

.hero-nav-buttons button:hover {
    box-shadow: 0px 0px 50px rgba(255, 255, 0, 0.7);
    color: rgba(255, 255, 255, 0.7);
    border: 4px solid rgba(255, 255, 0, 0.7);
}
/*Nav*/

.item {
    opacity: 0;
}

@keyframes arrows {
    from {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }
}

@media (max-width: 950px) {
    .hero {
        margin-top: 50px;
    }

    .hero-arrows {
        display: none;
    }

    .hero-nav-buttons {
        flex-direction: column;
    }

    .hero-nav-buttons button {
        border-radius: 16px !important;
        margin-block: 16px;
    }

    .hero-nav-buttons a:last-child button {
        margin-bottom: 0;
    }
}

@media (prefers-reduced-motion) {
    .hero-arrows {
        display: none;
    }
}